@charset "UTF-8"; body {
    background-color: rgba(193, 29, 29, 0.17);
    }
    body{/* iPhone 13 / 13 Pro - 1 */


        position: relative;
        width: 390px;
        height: 844px;
        
        background: #FFFFFF;
        
        
        /* fo086_2 1 */
        
        
        position: absolute;
        width: 60px;
        height: 52px;
        
        background: url(fo086_2.png);
        
        
        /* fo028_1 1 */
        
        
        position: absolute;
        width: 59px;
        height: 52px;
        
        background: url(fo028_1.png);}